body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.item-floating-label .placeholder-icon {
  padding-right: 18px;
  position: absolute;
  bottom: 9px;
  left: 17px;
}

.item-floating-label {
  padding-left: 40px !important;
}

.right{
  text-align:right !important;
  vertical-align: top;
}

.privacytext{
  align: center;
  width: auto;
  height: auto;
}
